<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ars For Nons</title>
    <!-- Load plotly.js into the DOM -->
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
</head>
<body>
<label>
    <input id="simId" type="number" value="0" min="0" max="9">
    <!-- Rounded switch -->
    <label class="switch">
        <input id="autoUpdate" type="checkbox">
        <span class="slider round"></span>
    </label>
</label>
<div id="graph"></div>
<div id="infos">
    Number of produced creatures:<div id="producedCreatures"></div><br>
    Number of natural deaths:<div id="naturalDeaths"></div><br>
    Number of kills:<div id="kills"></div><br>
    Average age on death:<div id="avgDeathAge"></div><br>
</div>

<script>
    const decoder = new TextDecoder();
    const graph = document.getElementById("graph");
    const simToRetrieveFrom = document.getElementById("simId");
    const autoUpdate = document.getElementById("autoUpdate");
    const producedCreatures = document.getElementById("producedCreatures");
    const naturalDeaths = document.getElementById("naturalDeaths");
    const kills = document.getElementById("kills");
    const avgDeathAge = document.getElementById("avgDeathAge");

    setInterval(update, 1000);

    function update() {
        if (!autoUpdate.checked) return;

        let simId = simToRetrieveFrom.value;
        if (simId === -1) simId = "debug";
        fetch("/getplot?simId=" + simId, {
            mode: "cors",
        })
        .then((r) => {
            const reader = r.body.getReader();
            reader.read().then((result) => {
                const obj = JSON.parse(decoder.decode(result.value || new Uint8Array(result.value.length), {
                    stream: !result.done,
                }));

                const xs = [];
                const ys = [];
                const colors = [];
                const texts = [];
                const infos = obj.data.infos;
                const data = obj.data.items;
                for (const i in data) {
                    if (data[i] != null) {
                        xs.push(data[i].x);
                        ys.push(data[i].y);
                        colors.push(data[i].color[0]);
                        colors.push("rgb(" + data[i].color[0] + "," + data[i].color[1] + "," + data[i].color[2] + ")");
                        texts.push("#" + data[i].id + " from " + data[i].creator);
                    }
                }
                createPlot(simId, infos.width, infos.height, xs, ys, colors, texts);
                producedCreatures.innerText = infos.producedCreatures;
                naturalDeaths.innerText = infos.naturalDeaths;
                kills.innerText = infos.kills;
            });
        })
        .catch(() => {
            console.log("error?");
        });
    }

    function createPlot(simId, width, height, xs, ys, colors, texts) {
        const trace1 = {
            x: xs,
            y: ys,
            mode: 'markers',
            text: texts,
            marker: {
                size: 16,
                color: colors
            }
        };
        const data = [trace1];
        // https://plotly.com/javascript/axes/
        const layout = {
            title: 'Simulation #' + simId,
            //width: 600,
            //height: 400,
            xaxis: {
                range: [-0.5, width + 0.5],
                showgrid: true,
                zeroline: true,
                showline: true,
                mirror: 'ticks',
                gridcolor: '#bdbdbd',
                gridwidth: 2,
                zerolinecolor: '#bdbdbd',
                zerolinewidth: 0,
                linecolor: '#636363',
                linewidth: 6,

                autotick: false,
                ticks: 'outside',
                tick0: 0,
                dtick: 1,
                ticklen: 8,
                tickwidth: 4,
                tickcolor: '#000'
            },
            yaxis: {
                range: [-0.5, height + 0.5],
                showgrid: true,
                zeroline: true,
                showline: true,
                mirror: 'ticks',
                gridcolor: '#bdbdbd',
                gridwidth: 2,
                zerolinecolor: '#bdbdbd',
                zerolinewidth: 0,
                linecolor: '#636363',
                linewidth: 6,

                autotick: false,
                ticks: 'outside',
                tick0: 0,
                dtick: 1,
                ticklen: 8,
                tickwidth: 4,
                tickcolor: '#000'
            },
        };
        const config = {
            scrollZoom: true,
            editable: false,
            responsive: true,
        }
        Plotly.newPlot('graph', data, layout, config);
    }
</script>
</body>
</html>
